<launch>

  <!-- 启动PID执行器 -->
  <node pkg="kortex_speed_plan" type="pid_executer.py" name="pid_executer" output="screen">
  </node>
  
  <!-- 启动参考选择器 -->
  <node pkg="kortex_speed_plan" type="reference_selector.py" name="reference_selector" output="screen">
  </node>
  
  <!-- 启动RRT移动规划器 -->
  <node pkg="kortex_speed_plan" type="rrt_moveit_plan.py" name="rrt_moveit_plan" output="screen">
  </node>
  
  <!-- 启动APF控制器 -->
  <node pkg="kortex_speed_plan" type="apf_controller.py" name="apf_controller" output="screen">
  </node>
  
  <!-- 启动位姿发布器 -->
  <node pkg="kortex_speed_plan" type="task_manager.py" name="task_manager" output="screen">
  </node>


</launch>